<auro-menu selectOption="2">
  <auro-menuoption data-value="New tab">New tab</auro-menuoption>
  <auro-menuoption data-value="New window">New window</auro-menuoption>
  <auro-menuoption data-value="Open file">Open file</auro-menuoption>
  <auro-menuoption data-value="Open location">Open location</auro-menuoption>
  <hr>
  <auro-menuoption data-value="Close window">Close window</auro-menuoption>
  <auro-menuoption data-value="Close tab" disabled>Close tab</auro-menuoption>
  <auro-menuoption data-value="Save page as...">Save page as...</auro-menuoption>
  <hr>
  <auro-menuoption data-value="Share" disabled>Share</auro-menuoption>
  <hr>
  <auro-menuoption data-value="Print">Print</auro-menuoption>
</auro-menu>

