:host {
  display: inline-block;
  width: 100%;
}

:host([selected]) {
  .checkmark {
      visibility: visible;
  }
}

:host(:focus) {
  outline: none;

  box-shadow: inset 0 0 0 3px #0074cb;
  background-color: #0074cb;
  color: #ffffff;

  svg {
    fill: #ffffff;
  }
}


li {
  width: 100%;
  height: 32px;
  list-style-type: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: 0;

  display: inline-flex;
  flex-direction: row;
  align-items: center;

  .checkmark {
    visibility: hidden;
    margin: 0 8px 0 0;
  }

  &:hover {
      background-color: #f7f7f7;
      border: 0;
      color: black;
  }

  &:focus {
    color: #FFFFFF;
    background-color: #0074cb;
    border: 0;

    svg {
      fill: #FFFFFF;
    }
  }
}
