.divider {
  border: none;
  height: 1px;
  color: var(--auro-color-border-primary-on-light);
  background-color: var(--auro-color-border-primary-on-light);
  margin: var(--auro-size-xs) var(--auro-size-xs) var(--auro-size-xs) var(--auro-size-xl);
}